:root {
  --branding-font-family: "pacifico", cursive;
  --secondary-font-family: "roboto", sans-serif;
}

body {
  font-family: var(--secondary-font-family);
  background-color: #fdfad9;
}

h1 {
  font-family: var(--branding-font-family);
  font-size: 96px;
  color: deeppink;
}

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.heading {
  text-align: center;
  padding: 160px 20px;
  background-image: url("/images/open_page.png");
}

.heading p {
  font-size: 30px;
  margin: 0px;
}

.heading h2 {
  font-size: 50px;
  color: #016fc5;
}

.heading h3 {
  color: #ff7043;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.btn-branding {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 50px;
}

.btn-branding:hover {
  color: white;
}

.btn-about {
  color: #ac4bbc;
  border-color: #ac4bbc;
  background-color: #e6c2ed;
}

.btn-contact {
  color: #1ab2a8;
  border-color: #1ab2a8;
}

.btn-launch {
  color: crimson;
  border: 1px solid crimson;
  background-color: rgb(236, 152, 169);
}

.weather-box {
  border: 2px solid #016fc5;
  background-color: #bee1fc;
  border-radius: 10px;
}

.project-description {
  padding: 50px 50px;
  text-align: center;
}

.project-description h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #016fc5;
}

.weather-img {
  padding: 40px 40px;
}

.headshot {
  width: 250px;
}

.about-section {
  padding: 10px 160px;
  color: deeppink;
  width: 1200px;
}

.about-section p {
  margin: 20px 0 120px 15px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 48px;
  }
  .project-description h2 {
    font-size: 48px;
  }
}
